PyQt5~=5.15.11
pyttsx3~=2.98
packaging~=24.2
pip~=25.0.1
colorama~=0.4.6
requests~=2.32.3
pywin32~=310
setuptools~=76.1.0
certifi~=2025.1.31
urllib3~=2.3.0
idna~=3.10
charset-normalizer~=3.4.1
pyinstaller~=6.12.0
